<div class="row">
    <div class="col">
        <button class="btn btn-primary" routerLink="/cliente/nuevo">
            <i class=" fa fa-plus "></i>
            Agregar cliente
        </button>
    </div>
</div>

<table class="table mt-3 animated fadeIn faster">
    <thead class="table-dark ">
        <tr class="text-center">
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Direccion</th>
            <th scope="col">Nacionalidad ID</th>
            <th scope="col">Zip code</th>
            <th scope="col">Acción</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cliente of this._mensajeriaService.clients;let i = index" class="text-center">
            <td scope="row">{{cliente.id}}</td>
            <td>{{cliente.name}}</td>
            <td>{{cliente.lastName}}</td>
            <td>{{cliente.address}}</td>
            <td>{{cliente.nationalId}}</td>
            <td>{{cliente.zipCode}}</td>
            <td class="boton">
                <button class="btn btn-info" [routerLink]="['/cliente', cliente.id]">
                    <i class="fa fa-pen"></i>
                </button>
                <button class="btn btn-danger" (click)="deleteClients(cliente.id,i)">
                <i class="fa fa-trash"></i>
                </button>
                <button class="btn btn-success" [routerLink]="['/facturas/nueva',cliente.id]">
                    <i class=" fa fa-plus "></i>
                </button>
                <button class="btn btn-warning" [routerLink]="['/facturas',cliente.id]">
                    <i class=" fa fa-eye "></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>